{% extends "layout_blog.html" %}

{% block content %}
    <div class="content-section">
     <h3>Random Cocktail</h3>
    <hr>
    <div class="container">
{#        Card here#}
        <div class="card w-90">
            <img class="card-img-top" src="{{ drink.image }}" alt="Drink image cap">
            <div class="card-body">
                <h4 class="card-title">{{ drink.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{'Alcoholic' if drink.is_alcoholic else 'Non Alcoholic'}}</h6>
                <hr>

                {% for a, b in drink.ingredients.items() %}
                     <p>{{ a  }} - {{  b }}</p>
                {%  endfor %}
{#                <h3 id="ingredients">{{ drink.ingredients }}</h3>#}
            </div>
            <div class="card-body">
                {{ drink.instruction }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}