{% extends "layout_blog.html" %}

{% block content %}
    <h3>Random Cocktail</h3>
    <hr>
    <article class="media content-section">
    <img class="card-img-top img-responsive rounded-circle cocktail mr-5" src="{{ drink.image }}" alt="Drink image cap">
    <div class="media-body">
        <div class="article-metadata">

            <h5>{{ drink.name }}</h5>
        <hr>
        <h6 class="mb-2 text-muted">{{'Alcoholic' if drink.is_alcoholic else 'Non Alcoholic'}}</h6>
            {% for a, b in drink.ingredients.items() %}
                <div>
            <small class="text-muted">{{ a  }} - {{  b }}</small>
                </div>
                {%  endfor %}
        </div>

{#        <h2><a class="article-title" href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a></h2>#}
    </div>
</article>
    <div class="content-section">
{#     <h3>Random Cocktail</h3>#}
{#    <img class="card-img-top img-responsive rounded-circle cocktail" src="{{ drink.image }}" alt="Drink image cap">#}
{#    <hr>#}
    <div class="container">
{#        Card here#}
{#    <img class="card-img-top img-responsive rounded-circle cocktail" src="{{ drink.image }}" alt="Drink image cap">#}
        <div class="card w-100">
            <div class="card-body">
                {{ drink.instruction }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}