Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["cajitos-my-test"]
          roleName:
          # The first entry in this file adds an authentication method named S3Auth to the environment's Auto Scaling group's metadata. If you have configured a custom instance profile for your environment, that will be used, otherwise the default value of aws-elasticbeanstalk-ec2-role is applied. The default instance profile has permission to read from the Elastic Beanstalk storage bucket. If you use a different bucket, add permissions to the instance profile.
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # test file
  "/tmp/misc/requirements.txt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://cajitos-my-test.s3.amazonaws.com/check/requirements.txt
