<article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ comment.author.picture_url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
               href="{{ url_for('users.account', user_id=comment.author.id) }}">{{ comment.author.username }}</a>
            <small class="text-muted">{{ _('commented on') }}</small>
            <a class="mr-2"
               href="{{ url_for('blog.post', post_id=comment.post_id) }}">{{ comment.post.title }}</a>
            <small class="text-muted">{{ _('at') }}</small>
            <small class="text-muted">{{ moment(comment.created_at).format('LLL') }}</small>
            <p class="article-content">{{ comment.content }}</p>
        </div>
    </div>
</article>