<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ post.author.picture_url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-3"
               href="{{ url_for('users.account', user_id=post.author.id) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ moment(post.created_at).format('LLL') }}</small>
            <small class="text-muted"> {{ post.comments|length }} comments</small>
        </div>
        <div class="article-metadata">
        <small class="text-muted mr-3">
            {{ _('Category: ') }}<a href="{{ url_for('blog.posts', category=post.category) }}">{{ post.category }}</a>
        </small>
    {#  TODO operate on tags in cycle and allow search  #}
        <small class="text-muted mr-3">{{ _('Tags: ') }}{{ post.tags }}</small>
    </div>
        <h2><a class="article-title" href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a></h2>
    </div>
</article>
<div class="content-section">
    {% if preview and post.preview %}
        <p class="article-content" id="post{{ post.id }}">{{ post.preview|safe }}</p>
        <p class id="switch_preview">
            <small>
                <a href="{{ url_for('blog.post', post_id=post.id) }}">{{ _('Read more') }}</a>
            </small>
        </p>
    {% else %}
        <p class="article-content" id="post{{ post.id }}">{{ post.content|safe }}</p>
    {% endif %}
    <p>
        {#            {% if post.language and post.language != g.locale and current_user.is_authenticated%}#}
        {#                <small class id="translation{{ post.id }}">#}
        {#                    <a href="javascript:translate(#}
        {#                                'post{{ post.id }}',#}
        {#                                'translation{{ post.id }}',#}
        {#                                '{{ g.locale }}');">{{ _('Translate') }}</a>#}
        {#                </small>#}
        {#            {% endif %}#}
    </p>
</div>
