{% extends "layout_blog.html" %}
{% block content %}
    {% for post in object_list %}
        {% include "blog/_post.html" %}
        <hr>
    {% endfor %}


{% endblock content %}
{% block pages %}

    <nav aria-label="Page navigation">
        <div class="w-100 d-inline-block mx-auto">

            {% for page_num in range(1, pagination.get_page_count() + 1) %}
                {% if page == page_num %}
                    <a class="btn btn-secondary btn-sm disabled" aria-disabled="true" href="#">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-secondary btn-sm"
                       href="{{ url_for('blog.posts', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
{% endblock pages %}