<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='images/user_pics/' + post.author.profile_picture) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
               href="{{ url_for('posts.blog_posts', author=post.author) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ moment(post.created_at).format('LLL') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.comments %}
            <br>
            {% for comment in post.comments %}
                <div class="article-metadata">
                <a class="mr-2"
               href="{{ url_for('posts.blog_posts', author=comment.author) }}">{{ comment.author.username }}</a>
            <small class="text-muted">{{ moment(comment.created_at).format('LLL') }}</small>
                <p class="article-content">{{ comment.content }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</article>