<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ post.author.picture_url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
               href="{{ url_for('posts.blog_posts', author=post.author) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ moment(post.created_at).format('LLL') }}</small>
            <small class="text-muted"> {{ post.comments|length }} comments</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content" id="post{{ post.id }}">{{ post.content }}</p>
        <p>
            {% if post.language and post.language != g.locale %}
                <small class id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </small>
            {% endif %}
        </p>
    </div>
</article>
