{% extends "layout_blog.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>Expressions</h1>
    <div class="row">
        {% if current_user.is_authenticated %}
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        {% endif %}
    </div>

    <div class="container">
        <br>
        <h3>Available translations</h3>
        {% for card in cards %}
            <div class="card">
                <ul class="list-group list-group-flush">
                    <ul class="list-group">
                        <li class="list-group-item">Category {{ card.category }}</li>
                        <li class="list-group-item">{{ card.origin_expression }}</li>
                        <li class="list-group-item">{{ card.translation_expression }}</li>
                    </ul>
                </ul>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}