{% extends "layout_blog.html" %}
{% block content %}
    {% for post in object_list %}
        {% include "_post.html" %}
    {% endfor %}


 <!-- Pagination -->
<nav aria-label="Page navigation">
<div  class="w-100 d-inline-block mx-auto">
    {% if page > 1 %}
    <a class="btn btn-secondary btn-sm" href="{{ url_for('posts.blog_posts', page=page - 1) }}">{{ _('Recent') }}</a>
{% else %}
<a class="btn btn-secondary btn-sm disabled" aria-disabled="true" href="{{ url_for('posts.blog_posts', page=page - 1) }}">{{ _('Recent') }}</a>
{% endif %}
{% if pagination.get_page_count() > pagination.get_page() %}
    <a class="btn btn-secondary btn-sm" href="{{ url_for('posts.blog_posts', page=pagination.get_page() + 1) }}">{{ _('Older') }}</a>
    {% else %}
    <a class="btn btn-secondary btn-sm disabled" aria-disabled="true" href="{{ url_for('posts.blog_posts', page=pagination.get_page() + 1) }}">{{ _('Older') }}</a>
{% endif %}
</div>
</nav>
{% endblock content %}