{% extends "layout_blog.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Vocabulary</legend>
{#        <a class="btn btn-outline-secondary" href="{{ url_for('misc.cards') }}">{{ _('Check all available words') }}</a>#}
        {% if current_user.is_authenticated %}
        <a class="mr-2"
               href="{{ url_for('misc.new_card') }}">{{ _('Add your words') }}</a>
{#        <a class="btn btn-outline-secondary" href="{{ url_for('misc.new_card') }}">{{ _('Add your cards') }}</a>#}
        {% else %}
            <br>
            <small class="text-muted">{{ _('Sign in to be able to add words') }}</small>
        {% endif %}
        <form action="{{ url_for('misc.cards') }}" method="post">
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="search_word" placeholder="Search">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        </form>
    </fieldset>
        <div class="container">
            <br>
            <h3>Available translations</h3>
            <div class="card w-75">
                <ul class="list-group list-group-flush">
                    {% for card in cards %}
                        <li class="list-group-item">{{ card }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
