body {
  background-color: #FFEFD5;
    padding: 1rem 1rem 1rem 1rem;
  }

.success, .warning, .error {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; }

.navbar {
  margin-bottom:  2rem;
}
.jumbotron {
  margin-bottom: 0;
    padding: 1rem 1rem;
}
.list-group {
  padding: 0;
}
