html {
    font-family: monospace, sans-serif;
}

body {
    background: #FFEFD5;
    color: #333333;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

.email {
    background: #FFEFD5;
    margin-top: 5rem;
    padding: 1rem 1rem 1rem 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

a {
    color: #427bba;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #acdcf8;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #f9ead3;
    padding: 10px 12px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #427bba;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img, .runaimg {
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.list-group-item {
    background-color: #f9ead3;
}

.form-control {
    background-color: #fff7f4;
}

.card {
    background-color: #fff7f4;
    margin: auto;
}


.header {
    font-size: 20px;
    position: relative;
    top: 5px;
    display: block;
    letter-spacing: 0;
    text-align: center;
}

.text {
    margin: 1.5rem auto;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

form textarea#content {
     width: available;
}

.card {
    width: 21rem;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}