{% extends "index.html" %}

{% block content %}

<form action="{{ url_for('cards') }}" method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="origin_word" placeholder="Word" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="translation" placeholder="Translation" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Part of speech">
        </div>
        <div class="col">
            <select class="form-control" id="exampleFormControlSelect1" name="language" required>
                <option>es</option>
                <option>en</option>
                <option>ru</option>
            </select>
        </div>
        <div class="col">
        <button type="submit" class="btn btn-outline-secondary">Add translation</button>
        </div>
    </div>
</form>

<div class="container">
    <br>
    <h2>Recently added translations</h2>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for card in cards %}
            <li class="list-group-item">{{ card }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
